.button-with-style {
    -fx-background-color: rgb(245, 86, 86);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: white; /* You can change the text color as needed */
}

/* CSS Style for the Button when Hovered */
.button-with-style:hover {
    -fx-background-color: rgb(241, 190, 114);
    -fx-text-fill: black;
}

/* CSS Style for the Button when Pressed */
.button-with-style:pressed {
    -fx-background-color: rgb(217, 165, 105);
}