.button-with-style {
    -fx-background-color: rgb(241, 224, 113);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: #000000; /* You can change the text color as needed */
}

/* CSS Style for the Button when Hovered */
.button-with-style:hover {
    -fx-background-color: rgb(236, 221, 67);
    -fx-text-fill: black;
}

/* CSS Style for the Button when Pressed */
.button-with-style:pressed {
    -fx-background-color: rgb(250, 230, 8);
}