.button-with-style {
    -fx-background-color: rgb(50, 244, 127);
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-text-fill: #090606; /* You can change the text color as needed */
}

/* CSS Style for the Button when Hovered */
.button-with-style:hover {
    -fx-background-color: rgb(32, 238, 94);
    -fx-text-fill: black;
}

/* CSS Style for the Button when Pressed */
.button-with-style:pressed {
    -fx-background-color: rgb(0, 255, 34);
}